<div class="container p-3">
    <div class="introtext p-3">
        <h1>Intro text</h1>
        <h5>At Gym and Fitness, customers are at the centre of what we do and why we do it! We have a team of knowledgeable sales representatives who are ready to assist you with your gym equipment needs. Our crew will be able to answer your questions from honest product information to the best way to integrate a piece of equipment into your workout routine. We work hard to ensure we have strong relationships with our suppliers, bringing you the best possible prices in the industry. In fact, if you find a better price on one of our core range of products, we will match it as a part of our brand promises</h5>
    </div>
    <div>
        <button class="btn btn-block p-4 bg-primary text-light mt-3" (click)="navpage()">Apply For Trainer</button>
    </div>

</div>